<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="index"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div>
		<span><a href="/">Home</a></span>
		<span><a href="login">Login</a></span>
		<span><a href="logout">Logout</a></span>
		<span><a href="http://localhost:8761/" target="blank">Eureka</a></span>
		<span><a href="events">Events</a></span>
		<span><a href="admin">Management</a></span>
	</div>
	<h1>All events</h1>
	<label th:if="${param.canceled}" th:text="'The even with the id: ' + ${param.canceled[0]} + ' is canceled and an email is sent to users'"></label>
	<div>
		<table>
			<thead>
				<tr>
					<th th:text="id"></th>
					<th th:text="name"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="act : ${activities}">
					<td><label th:text="${act.id}"></label></td>
					<td><label th:text="${act.name}"></label></td>
					<td>
						<form action="admin" method="post">
							<input type="hidden" th:value="${act.id}" id="actid" name="actid">
							<input type="submit" th:value = "cancelation">
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>