<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title th:text="index"></title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div>
			<span><a href="/">Home</a></span> <span
				sec:authorize="!isAuthenticated()"><a href="login">Login</a></span>
			<span sec:authorize="isAuthenticated()"><a href="logout">Logout</a></span>
			<span><a href="events">Events</a></span> <span
				sec:authorize="isAuthenticated()"><a href="admin">Management</a></span>
			<span><a href="http://localhost:8761/" target="_blank">Eureka</a></span>
			<span><a href="http://localhost:15672/" target="_blank">RabbitMQ</a></span>
		</div>
		<span>All events</span>
		<label th:if="${param.canceled}"
			th:text="'The even with the id: ' + ${param.canceled[0]} + ' is canceled and an email is sent to users'"></label>
		<div>
			<table>
				<thead>
					<tr>
						<th th:text="id"></th>
						<th th:text="name"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="act : ${activities}">
						<td><label th:text="${act.id}"></label></td>
						<td><label th:text="${act.name}"></label></td>
						<td>
							<form action="admin" method="post" class="ms-1">
								<input type="hidden" th:value="${act.id}" id="actid"
									name="actid"> <input class="btn btn-danger" type="submit"
									th:value="cancelation">
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</html>