<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title th:text="index"></title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div>
			<span><a href="/">Home</a></span>
			<span sec:authorize="!isAuthenticated()"><a href="login">Login</a></span>
			<span sec:authorize="isAuthenticated()"><a href="logout">Logout</a></span>
			<span><a href="events">Events</a></span>
			<span sec:authorize="isAuthenticated()"><a href="admin">Management</a></span>
			<span><a href="http://localhost:8761/" target="_blank">Eureka</a></span>
			<span><a href="http://localhost:15672/" target="_blank">RabbitMQ</a></span>
		</div>
		<label th:text=${userInfo}></label> <br /> <label
			th:text=${userString}></label> <br /> <label th:text=${actString}></label>
		<br /> <label th:text=${payString}></label>
	</div>
</body>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</html>