<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="index"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div>
		<span><a href="/">Home</a></span> <span><a href="login">Login</a></span> <span><a href="logout">Logout</a></span> <span><a href="http://localhost:8761/" target="blank">Eureka</a></span> <span><a href="events">Events</a></span> <span><a href="admin">Management</a></span>
	</div>
	<div>
		<form th:action="login" method="post">
			<span> Login </span>
			<div>
				<input type="text" name="username" value="user" placeholder="username">
			</div>
			<div>
				<input type="password" name="password" value="1234" placeholder="password">
			</div>
			<div>
				<input type="submit" value="Login">
			</div>
			<div>
				<a href="signup">Sign Up</a>
			</div>
			<div th:if="${param.err}">
				<label th:if="${param.err[0]} == 1">Login is required</label> <label th:if="${param.err[0]} == 3">Wrong username - password</label>
			</div>
			<div th:if="${info} != null">
				<label th:text="${info}"></label>
			</div>
		</form>
	</div>
</body>
</html>